# Full environment for all optional project features.
#
# For faster setup use one of the smaller files:
#   pip install -r requirements-sound-ptz.txt
#   pip install -r requirements-vision.txt
#   pip install -r requirements-birdnet.txt
#   pip install -r requirements-gui.txt
#   pip install -r requirements-openvino.txt
#   pip install -r requirements-oneapi.txt
#   pip install -r requirements-bench.txt

-r requirements-sound-ptz.txt
-r requirements-vision.txt
-r requirements-birdnet.txt
-r requirements-gui.txt
-r requirements-serial-ptz.txt
-r requirements-openvino.txt
-r requirements-oneapi.txt
-r requirements-bench.txt
